BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: true
NamespaceIndentation: All
BreakTemplateDeclarations: Leave
SeparateDefinitionBlocks: Leave

